* {
    box-sizing: border-box;
}

html, body, #root {
    height: 100% !important;
}

body {
    margin: 0 !important;
    background-color: #282c34 !important;
    color: white !important;
    padding: 16px;
}

tspan {
    font-size: x-small !important;
    color: white !important;
    margin-top: 20px !important;
}

text {
    fill: white !important;
}

line {
    stroke: white !important;
}

.recharts-default-legend {
    font-size: larger !important;
    margin-top: 40px !important;
}